.tasks-notes {
    width: 50%;
    background-color: rgb(54, 52, 52);
    padding: 14px 22px;
}

.switch-section {
    display: flex;
    justify-content: space-between;
}

.switch-button {
    display: flex;
    gap: 10px;
}

.switch-button span {
    font-size: 14px;
}

/* The switch - the box around the slider */
.switch {
    font-size: 12px;
    position: relative;
    display: inline-block;
    width: 42px;
    height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 1;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #fff;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid #ccc;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 16px;
    left: 0px;
    top: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 2px 5px #999999;
    transition: .4s;
}

input:checked+.slider {
    background-color: #5fdd54;
    border: 1px solid transparent;
}

input:checked+.slider:before {
    transform: translateX(1.5em);
}


/* SINGLE NOTE STYLE */

.notes-list {
    padding: 0px 38px;
    font-size: 12px;
    border-bottom: 1px solid black;
}

.single-note {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.note-preview-wrapper {
    display: flex;
    gap: 20px;
}

.note-space {
    display: flex;
    gap: 10px ;
    justify-content: center;
    align-items: center;
}