:root {
    --border-color: #232325;
}

.home-wrapper {
    width: 100%;
}

.home-header {
    height: 64px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;

}

.head-label {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 107px;
    margin-left: 50px;
}

.text {
    width: 73px;
    font-size: 26px;
}