:root {
    --main-text-color: #E3E2E7;
    --border-color: #E3E2E7;
}

.nav-panel {
    width: 294px;
    /* margin: 19px 28px; */
    /* display: flex; */
    outline: 2px var(--border-color) solid;
}


.personal-menu-dropdown {
    background-color: transparent;
    color: var(--main-text-color);
    font-size: 22px;
    border: none;
    display: flex;
    gap: 10px;
    padding: 0px;
    padding-bottom: 16px;
}

.personal-menu-dropdown:hover {
    cursor: pointer;
}

.personal-arrow {
    font-size: 12px;
    padding-top: 4px;
}

.personal-menu {
    border-bottom: 1px solid var(--border-color);
    padding-top: 19px;
    padding-left: 24px;
    /* padding: 19px 28px; */
}

.main-btns {
    padding-left: 24px;
    margin: 0px;
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0px;
    background-color: transparent;
    border: none;
    color: var(--main-text-color);
}

.svg-wrapper {
    width: 22px;
}

.svg-wrapper svg {
    display: block;
    margin: auto;
}

.resources,
.spaces {
    margin-top: 48px;
}

.resources h2,
.spaces h2 {
    padding: 0px;
    padding-left: 24px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #9E9EA3;
}