:root {
    --light-mode: #E3E2E7;
    --dark-mode: #0C0C0C;
    --dark-font-color: #E3E2E7;
    --light-font-color: #0C0C0C;
}

body {
    margin: 0px;
    font-family: 'Inter', sans-serif, serif;
}

#root {
    width: 100%;
}

.light-mode {
    background-color: var(--light-mode);
    color: var(--light-font-color);
}

.light-mode button {
    color: var(--light-font-color);
} 

.light-mode path {
    fill: var(--light-font-color);
}

.dark-mode {
    background-color: var(--dark-mode);
    color: var(--dark-font-color);
}

.dark-mode button {
    color: var(--dark-font-color);
}

button {
    font-family: inherit;
    font-size: 1em;
    color: red;
}

button:hover {
    cursor: pointer;
}